#sm-ajax-loader-wrapper {
	height: 44px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
}
 
#smLoaderObject {
	display: block;
	width: 100px;
	height: 50px;
	position: relative;
	text-align: center;
	bottom: 0;
	left: 50%;
	margin: 0 0 0 -50px;
}

@-webkit-keyframes line-scale-pulse-out-rapid {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }
  80% {
    -webkit-transform: scaley(0.3);
            transform: scaley(0.3); }
  90% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }

@keyframes line-scale-pulse-out-rapid {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }
  80% {
    -webkit-transform: scaley(0.3);
            transform: scaley(0.3); }
  90% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }

#smLoaderObject .line-scale-pulse-out-rapid > div {
	width: 3px;
	height: 30px;
	background: #404040;
	border-radius: 2px;
	margin: 3px;
	-webkit-animation-fill-mode: both;
	      animation-fill-mode: both;
	display: inline-block;
	vertical-align: middle;
	-webkit-animation: line-scale-pulse-out-rapid 0.9s -0.5s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78);
	      animation: line-scale-pulse-out-rapid 0.9s -0.5s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78); }
#smLoaderObject	.line-scale-pulse-out-rapid > div:nth-child(2), .line-scale-pulse-out-rapid > div:nth-child(4) {
	-webkit-animation-delay: -0.25s !important;
	        animation-delay: -0.25s !important; }
#smLoaderObject	.line-scale-pulse-out-rapid > div:nth-child(1), .line-scale-pulse-out-rapid > div:nth-child(5) {
	-webkit-animation-delay: 0s !important;
	        animation-delay: 0s !important; }

#smLoaderObject, #smSuccessMessage, #smErrorMessage {
	display: none;
	line-height: 44px;
	height: 44px;
}