#shortcode-mastery *:focus {
    outline: 0 !important;
}

#shortcode-mastery h1 img {
	position: relative;
	top: 7px;
	margin-right: 7px;
	width: 32px;
	height: 32px;
}

#shortcode-mastery h1 span.version {
	font-size: 11px;
	color: #222;
	font-weight: bold;
	border-radius: 20px;
	position: relative;
	top: 0px;
	left: 5px;
}

#shortcode-mastery h1 span.pro {
	font-size: 11px;
	color: #fff;
	background: #3498db;
	font-weight: bold;
	border-radius: 20px;
	position: relative;
	padding: 0 5px;
	top: 0px;
	left: 10px;
}

#shortcode-mastery span.description {
	color: #666
}

#shortcode-mastery .sm-random-params {
	padding-bottom:10px;
	margin-bottom:20px;
	border-bottom:1px solid #f1f1f1
}

#wp-admin-bar-sm-submit-top-button div { height: auto !important }

#wpadminbar .sm-admin-bar-icon {
	position: relative;
	top: 3px;
	margin-right: 5px;
	width: 16px;
	height: 16px;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

#shortcode-mastery .sm-tooltip {
	z-index: 9999;
}

#shortcode-mastery .sm-tooltip.fade {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

#shortcode-mastery .sm-info {
	font-size: 13px !important;
}

@media (max-width: 767px) {
	#shortcode-mastery .sm-info {display: none}	
}

body.shortcode-mastery-admin .mfp-bg { z-index: 101000 !important; }
body.shortcode-mastery-admin .mfp-wrap { z-index: 101001 !important; }
body.shortcode-mastery-admin .mfp-preloader { z-index: 101002 !important; }
body.shortcode-mastery-admin .mfp-content { z-index: 101003 !important; }
body.shortcode-mastery-admin button.mfp-close,
body.shortcode-mastery-admin button.mfp-arrow { z-index: 101004 !important; }

body.toplevel_page_shortcode-mastery .mfp-bg { z-index: 101000 !important; }
body.toplevel_page_shortcode-mastery .mfp-wrap { z-index: 101001 !important; }
body.toplevel_page_shortcode-mastery .mfp-preloader { z-index: 101002 !important; }
body.toplevel_page_shortcode-mastery .mfp-content { z-index: 101003 !important; }
body.toplevel_page_shortcode-mastery button.mfp-close,
body.toplevel_page_shortcode-mastery button.mfp-arrow { z-index: 101004 !important; }

body.toplevel_page_shortcode-mastery button.mfp-close {
	background: #fff;
	color: #222;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 34px;
	text-align: center;
	top: 5px;
	right: 5px;
}

#sm-popup-wrapper {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: rgba(0,0,0,0);
	transition: all 0.3s ease;
    z-index: 100050;
}

#sm-popup-wrapper.show {
	display: flex;
	background: rgba(0,0,0,0.7);
}

#sm-popup {
    padding: 1rem;
    margin: 1rem;
    max-width: 960px;
    width: 100% !important;
    height: auto !important;
	background: #fff;
	position: relative;
    -webkit-box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
    box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
    overflow-y: scroll;
    max-height: 560px;
}