.sm-button, .sm-submit, .sm-group-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	display: inline-block;
	padding: 4px 10px;
	color:#fff;
	margin-right: 10px;
	border-radius: 21px;
	margin-bottom: 5px;
	margin-top: 5px;
	cursor: pointer;
	outline: 0;
	text-decoration: none;
}

.sm-submit:hover, .sm-submit:focus {
	color:#fff;
}

.sm-button.last {
	margin-right: 0;
}

.sm-collapse-button {
	-webkit-appearance: none;
	border: none;
	display: inline-block;
	padding: 0px 10px;
	position: absolute;
	top: 0px;
	width: 100%;
	text-align: right;
	padding-right: 30px;
	right: 0px;
	height: 70px;
	line-height: 70px;
	color: #404040;
	background: none;
	font-size: 16px;
	cursor: pointer;
	outline: 0;
}

.sm-span-button {
	font-size: 12px;
	position: relative;
	top:-1px;
}

.sm-group-button {
	border-radius: 0px;
	padding: 5px;
	width: 96px;
	height: 64px;
	background: #23282d;
	vertical-align: middle;
}

.sm-group-button:hover, .sm-group-button:focus {
	background: #555;
}

.sm-group-button div {
	margin-bottom: 5px;
}

.sm-group-button div:before {
	font-size: 30px;
	width: auto;
	height: auto;
}

.sm-submit {
	padding: 10px 14px;
	font-size: 14px;
	border-radius: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	height: 41px;
	text-align: center;
	min-width: 180px;
	box-sizing: border-box;
}

.sm-button:hover, .sm-button:focus {
	color: #fff;
}

.sm-edit-button {
	background: #3498db;
}

.sm-edit-button:hover, .sm-edit-button:focus {
	background: #2980b9;
}

.sm-delete-button, .sm-params-button-required {
	background: #e74c3c;
}

.sm-delete-button:hover, .sm-delete-button:focus {
	background: #c0392b;
}

.sm-export-button, .sm-params-button {
	background: #46b450;
}

.sm-loop-button {
	background: #23282d;
}

.sm-loop-button:hover, .sm-loop-button:focus {
	background: #444;
}

.sm-export-button:hover, .sm-params-button:hover, .sm-export-button:focus, .sm-params-button:focus {
	background: #35883d;
}

.sm-delete-color {
	color: #e74c3c;
	text-shadow: 0px 0px 1px #222;
}

.sm-remove-icon {
	position: absolute;
	left: 0px;
	height: 64px;
	width: 78px;
	display: block;
	text-decoration: none;
	opacity: 0;
	text-align: right;
	transition: opacity 0.3s;
}

.sm-remove-icon:hover {
	opacity: 1;
}

.sm-remove-icon i {
	color: #b13e39;
	position: relative;
	top:-5px;
}