/* Checkbox */

.sm-checkbox {
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;
}

.sm-checkbox + label {
	cursor: pointer;
}

.sm-checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}

.sm-checkbox:not(checked) + label {
	position: relative;
	padding: 0px 5px 0 16px;
}

.sm-checkbox:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -2px;
	left: 1px;
	width: 18px;
	height: 18px;
	background: #CDD1DA;
	border-radius: 3px;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
}

.sm-checkbox:checked + label:before {
	content: '';
	position: absolute;
	top: -2px;
	left: 1px;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);	
}

.sm-checkbox:checked + label:after {
	content: "\f147";
	position: absolute;
	top: -1px;
	left: 0px;
	color:#fff;
	font: 400 18px/1 dashicons;
}

.sm-checkbox:disabled {
	opacity: 0 !important;
}

.sm-checkbox:focus + label:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

.sm-checkbox:checked + label:before { 
	background: #3498db;
}