.coming-soon {
	font-size: 11px;
	padding: 1px 7px;
	color: #f1f1f1;
	font-weight: bold;
	background: #46b450;
	border-radius: 20px;
	position: relative;
	top: 0px;
	left: 5px;
	margin: 0;
}

.wp-filter .search-form input[type=search] {
	border-radius:20px;
	padding: 3px 10px;
	background: #f1f1f1;
}

#shortcodes-mastery-collection {
	margin-top: 44px;
	overflow: hidden;
}

.sm-collection-loader {
	position:absolute;
	left:50%;
	margin-top: 15px;
	margin-left: -25px;
}

.sm-no-items, .sm-pack-title {
	font-size: 36px;
	text-align: center;
	color: #444;	
}

.sm-no-items{ margin-top: 100px; }

.sm-pack-title {
	margin: 0;
	color: #222;
	padding-top: 10px;
	padding-bottom: 5px;
}

.sm-item-button-detailed, .sm-item-button-detailed-disabled {
	-webkit-font-smoothing: subpixel-antialiased;
}

.sm-pack-desc p {
	text-align: center;
	font-size: 16px;
	margin: 0;
	color: #222;
	padding-bottom: 15px;
	border-bottom: 1px dotted #ccc;
}

.sm-pack-desc a {
	font-size: 14px;
	display: inline-block;
	padding-top: 10px;
}

.sm-filter-links li>a {
	height: 19px;
}

.sm-filter {
	margin-top: 0;
	margin-bottom: 10px;
	border-radius: 30px;
}

body.shortcodes_page_shortcode-mastery-templates #TB_window {
    background: #fcfcfc;
    top: 30px !important;
    margin-top: 0 !important;
}

body.shortcodes_page_shortcode-mastery-templates #TB_iframeContent {
	width: 100% !important;
}

.ie8 body.shortcodes_page_shortcode-mastery-templates #TB_window:before {
    content: " ";
    background: 0 0
}

body.shortcodes_page_shortcode-mastery-templates #TB_window.thickbox-loading:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    margin: -10px 0 0 -10px;
    background: url(../images/spinner.gif) center no-repeat #fcfcfc;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

body.shortcodes_page_shortcode-mastery-templates #TB_ajaxWindowTitle, body.shortcodes_page_shortcode-mastery-templates .tb-close-icon {
    display: none
}

@media print, (-webkit-min-device-pixel-ratio:1.25), (min-resolution:120dpi) {
    body.shortcodes_page_shortcode-mastery-templates #TB_window.thickbox-loading:before {
       background-image: url(../images/spinner-2x.gif)
    }
}

body.shortcodes_page_shortcode-mastery-templates #TB_title {
    float: left;
    height: 1px
}

.shortcodes_page_shortcode-mastery-templates #TB_closeWindowButton {
    left: auto;
    right: -30px;
    color: #eee
}

body.shortcodes_page_shortcode-mastery-templates #TB_closeWindowButton:focus, body.shortcodes_page_shortcode-mastery-templates #TB_closeWindowButton:hover,
 {
    color: #00a0d2;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

body.shortcodes_page_shortcode-mastery-templates #TB_closeWindowButton:after {
    content: "\f335";
    font: 400 32px / 29px dashicons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media screen and (max-width:830px) {
    body.shortcodes_page_shortcode-mastery-templates #TB_closeWindowButton {
        right: 0;
        top: -30px
    }
}

.shortcode-mastery-details-page, .sm-tinymce-more-details {
	width: 100% !important;
	height: 100%;
	box-sizing: border-box;
	padding: 0px 0px 15px 0px;
	background: #fff;
	overflow: hidden;
}

body.shortcodes_page_shortcode-mastery-templates #TB_title {margin-top: -2px;}

body.iframe.shortcode-mastery-preview-page {background: #fff;}

.shortcode-mastery-details-page {
	overflow-y: auto;
}

.shortcode-mastery-details-page, .sm-tinymce-more-details {
	
	border-top:1px solid #f1f1f1;
	margin-top: -2px;
	position: relative;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;

	h2 {
		display: inline-block;
		font-size: 30px;
		line-height: 50px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		max-width: 100%;
		padding: 0 15px;
		margin-top: 190px;
		margin-left: 26px;
		color: #fff;
		background: rgba(30, 30, 30, .9);
		text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
		-webkit-box-shadow: 0 0 30px rgba(255, 255, 255, .1);
		box-shadow: 0 0 30px rgba(255, 255, 255, .1);
		-webkit-border-radius: 8px;
		border-radius: 8px
	}
	
	h3 {
		font-size: 1.3em;
		padding: 0;
		padding-top: 18px;	
		
		strong {
			line-height: 22px;
		}	
	}
	
	.image-holder {
		margin-left: -15px;
		margin-right: -15px;
		height: 250px;
		background: #23282d;
		position: relative;
		overflow: hidden;
	}
	
	@media (max-width: 639px) {
		
		h2 {
			margin-top: 40px;
			font-size: 20px;
			margin-left: 0;
		}
		
		.image-holder {
			height: 140px;
			text-align: center
		}
	}
	
}

.sm-shortcode-details-content {
	background: #fff;
	padding: 0 15px;
	padding-bottom: 60px;
	ul {
		padding-left: 10px;
	}
	code {
		background: #fff;
		padding: 0;
		margin: 0;
	}
	pre {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	}
}

.sm-shortcode-details-content.sm-tinymce-details-content {
	padding: 0 9px;
}
	
.sm-info-footer {
	padding: 13px 16px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 33px;
	border-top: 1px solid #ddd;
	background: #fcfcfc;
}

.sm-collection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: 0 -18px;
	margin-top: 10px;
	
	.sm-collection-desc {
		font-size: 13px;
		line-height: 1.5;
		margin: 1em 0;
	}
	
}

.sm-collection.no-pagination {
	margin-top: 46px;
}

.sm-collection-item {
	
	position: relative;
	
	min-width: 280px;
	width: 16.6666%;
	height:auto;
	background: none;
	box-sizing: border-box;
	padding: 0 18px;
	
	margin-bottom: 36px;
	
	display: flex;
	flex-direction: column;
	
	.sm-badge {
		width: 69px;
		height: 70px;
		position: absolute;
		top: -1px;
		right: 18px;
		z-index: 1000;
	}
	
	.sm-badge-left {
		width: 69px;
		height: 70px;
		position: absolute;
		top: -1px;
		left: 18px;
		z-index: 1000;
	}
	
	.sm-badge.premium {
		background: url(../images/badge-premium.png) no-repeat;
	}
	
	.sm-badge.featured {
		background: url(../images/badge-featured.png) no-repeat;
	}
	
	.sm-badge-left.pack {
		background: url(../images/badge-pack.png) no-repeat;
	}
	
	@media (-webkit-min-device-pixel-ratio:1.25), (min-resolution:120dpi) {
		.sm-badge.premium {
			background: url(../images/badge-premium@2x.png) no-repeat;
			background-size: 69px 70px;

		}
		
		.sm-badge.featured {
			background: url(../images/badge-featured@2x.png) no-repeat;
			background-size: 69px 70px;
		}
		
		.sm-badge-left.pack {
			background: url(../images/badge-pack@2x.png) no-repeat;
			background-size: 69px 70px;
		}
	}
	
	button, .sm-item-button {
		position: absolute;
		top:174px;
		margin-top: -28px;
		right: 28px;
		font-size: 24px;
		line-height: 56px;
		width: 56px;
		height:56px;
		border-radius: 50px;
		color: #fff;
		border: none;
		background: #3498db;
		appearance: none;
		box-sizing: border-box;
		text-decoration: none;
		text-align: left;
		overflow: hidden;
		padding: 0 21px;
		-webkit-appearance: none;
		transition: background 0.3s;
		cursor: pointer;
		-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
		box-shadow: 0 1px 3px 0px rgba(0, 0, 0, .2);
		
		span.plus {
			position: relative;
			transition: all 0.3s;
			display: inline-block;
			top:-1px;
		}
		
		span.add {
			display: inline-block;
			white-space: nowrap;
			transition: opacity 0.05s;
			transition-delay: 0.15s;
			font-size: 15px;
			position: relative;
			top:-2px;
			opacity: 0;
		}
	}
	
	button:hover, .sm-item-button:hover {
		background: #2980b9;
		span.add {
			font-size: 15px;
			opacity: 1;
		}
	}
	
	.image-thick {
		height: 174px;
	}
	
	.image-holder {
		
		background: #23282d;
		height: 174px;
		overflow: hidden;
		width: 100%;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #ddd;
		box-sizing: border-box;
		
	}
	
	img {
		max-width: 100%;
		height: auto;
		-webkit-transition: opacity 0.3s;
		   -moz-transition: opacity 0.3s;
		    -ms-transition: opacity 0.3s;
		        transition: opacity 0.3s;
	}
	
	.image-holder.loading img,
	.image-holder.broken img {opacity: 0;}
	
	img.loading {height: 100%;}
	
	.image-holder.loading {
		background-image:url(../images/ring.gif);
		background-size: 50px 50px;	
		background-repeat: no-repeat;
		background-position: center center;
	}
	
	.image-holder.broken {
		  background-image: url(../images/sm-bigger.svg);
		  background-color: #23282d;
		  background-repeat: no-repeat;
		  background-position: center center;
		  background-size: 128px 128px;
	}

	img.default {
		width: 128px;
		height: 128px;
		display: block;
		margin: 23px auto;
		opacity: 1;
	}
	
	h3 {
		font-size: 1.3em;
		padding: 0;
		padding-left: 18px;
		padding-top: 18px;
		margin-top: 0;
		margin-bottom: 0;	
		padding-right: 98px;
		
		strong {
			line-height: 24px;
		}	
	}
	
	.info {
		box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
		border: 1px solid #e5e5e5;
		border-top: none;
		background: #fff;
	}
	
	.desc {
		
		font-size: 14px;
		padding: 0 18px;
		min-height: 18px;
		
	}
	
	.details {
		margin-left: 18px;
		margin-bottom: 18px;
		display: inline-block;
	}
	
	.params {
		
		padding: 0 18px;
		background-color: #fafafa;
		border-top: 1px solid #ddd;
		padding-top: 18px;
		padding-bottom: 18px;
		
		.sm-param-caption {
			padding-right: 5px;
		}
		
		.sm-inline-param {
			margin: 0;
			margin-right: 5px;
			margin-bottom: 4px;
			margin-top: 4px;
		}
		
	}
}

// 5 items

@media (min-width: ( $side + 5 * $col-item + 8 * $gutter ) ) and (max-width: 2560px) {
	.sm-collection-item	{
		width: 20%;
	}
}

// 4 items

@media (min-width: ( $side + 4 * $col-item + 6 * $gutter ) ) and (max-width: ( $side + 5 * $col-item + 8 * $gutter - 1 )) {
	.sm-collection-item	{
		width: 25%;
	}
}

// 3 items

@media (min-width:( $side + 3 * $col-item + 4 * $gutter ) ) and (max-width: ( $side + 4 * $col-item + 6 * $gutter - 1 ) ) {
	.sm-collection-item	{
		width: 33.3333%;
	}
}

// 2 items

@media (min-width:( $side-mobile + 2 * $col-item + 2 * $gutter ) ) and (max-width: ( $side + 3 * $col-item + 4 * $gutter - 1 ) ) {
	.sm-collection-item	{
		width: 50%;
	}	
}

// 1 item

@media (max-width:( $side-mobile + 2 * $col-item + 2 * $gutter - 1) ) {
	
	.sm-collection {
		justify-content: center;
	}
	
	.sm-collection-item	{
		width: 280px;
		box-sizing: border-box;
		padding: 0;
		margin: 18px;
		left: 50% !important;
		margin-left: -140px;
		
		.sm-badge {
			top:-1px;
			right: 0px;
		}
		
		.sm-badge-left {
			top:-1px;
			left: 0px;
		}
		
		.sm-item-button {
			right: 10px;
		}
	}
	
}

.sm-tags, .sm-packs {
	list-style: none;
	margin: 0;
	
	li {
		display: inline-block;
	}
	
	li a {
		text-decoration: none;
		font-weight: 600;
	}
}