@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?88536400');
  src: url('../fonts/fontello.eot?88536400#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?88536400') format('woff2'),
       url('../fonts/fontello.woff?88536400') format('woff'),
       url('../fonts/fontello.ttf?88536400') format('truetype'),
       url('../fonts/fontello.svg?88536400#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?88536400#fontello') format('svg');
  }
}

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.sm-refresh {
	background: url(../images/ring.gif) no-repeat center center;
	background-size: 32px 32px;
	display: inline-block;
	width: 48px;
	height: 48px;
	position: relative;
	left: -17px;
	top: 4px;
}

.icon-picture:before {margin-right: 5px;}

.icon-eye:before { margin-left: 8px; font-size: 16px; line-height: 18px; }

.icon-eye.view:before {
	top: 1px;
	margin-right: 4px;
	position: relative;
	line-height: 16px;
	margin-left: 0;
}

.icon-info {
	position: relative;
	top: -1px;
}

.icon-calender {margin-right: 3px;}

.icon-pencil:before { content: '\e800'; }
.icon-trash:before { content: '\e801'; }
.icon-export:before { content: '\e802'; }
.icon-picture:before { content: '\e803'; }
.icon-cancel:before { content: '\e804'; }
.icon-level-up:before { content: '\e805'; }
.icon-switch:before { content: '\e806'; }
.icon-reply:before { content: '\e807'; }
.icon-plus:before { content: '\e808'; }
.icon-eye:before { content: '\e809'; }
.icon-list-add:before { content: '\e80a'; }
.icon-arrows-ccw:before { content: '\e80b'; }
.icon-up-open:before { content: '\e80d'; }
.icon-down-open:before { content: '\e80e'; }
.icon-spin3:before { content: '\e832'; }
.icon-calendar:before { content: '\e80c'; }
.icon-info:before { content: '\e80f'; }