.sm-full {
	width: 100% !important;
	box-sizing: border-box;
}

.sm-block {
	width: 100%;
	max-height: 100%;
	box-sizing: border-box;
	background: #fff;
	padding: 10px 20px;
	margin-bottom: 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	border: 1px solid #e5e5e5;
	position: relative;
	transition-property: all;
	transition-duration: .3s;
}

.sm-block.sm-collapsed {
	overflow: hidden;
	height: 70px;
}

.sm-def-icon {
	margin-right: 10px;
	width: 64px;
	height: 64px;
	border-radius: 5px;
}

.sm-icon-title-holder {
	margin-bottom: 10px;
	height: 64px;
	position: relative;
}

.sm-li {
	display: flex;
	align-items: center;	
	flex-wrap: wrap;
	padding: 10px 0;
	margin-bottom: 0px;
	border-top: 1px dotted #f1f1f1;
	transition: all 0.3s ease;
}

.sm-li.current {
	background: #dfeaf1;
	border-radius: 5px;
}

.sm-li-inline {display: inline-block;}

.sm-li:first-child {
	border: none;
}

.sm-arg-block {
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 13px 0px 13px 0px;
	position: relative;
}

.sm-arg-block.first-level {padding: 3px 0px 3px 0px;}

.sm-arg-param-desc {
	margin: 0 7px;
	color: #666;
	line-height: 20px;
    font-weight: bold;
	font-style: italic;
}

.sm-arg-array {
	overflow: hidden;
	margin: -13px 0;
}

.sm-arg-array:before {
	content: "";
	background: #fff;
	height: 100%;
	position: absolute;
	width: 1px;
	border-left: 1px dashed #3498db;
	top: 0px;
	left: 0px;
}

.sm-arg-array.first:before {
	top: 50%;
}

.sm-arg-array.last:before {
	top: -21px;
}

.sm-query-sep {
	margin: 0 10px;
}

.sm-query-sep-arrow {
	display: inline-block;
	margin: 0;
	position: relative;
	height: 0px;
	top:-4px;
	border-top: 1px dashed #3498db;
	width: 20px;
}

.sm-query-sep-key {
	background:#fff;
}

.sm-query-sep-value {
	background:#46b450;
}

.sm-query-sep-grad {
	background: #3498db;
	background: -moz-linear-gradient(left, #3498db 0%, #46b450 100%);
	background: -webkit-linear-gradient(left, #3498db 0%,#46b450 100%);
	background: linear-gradient(to right, #3498db 0%,#46b450 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#46b450',GradientType=1 );
}

.sm-arg-block > .sm-arg-block { padding: 3px 0px 3px 50px; }

.sm-array-key {
	padding: 0px 10px;
	background: #3498db !important;
	border-radius: 10px;
	color:#fff;
}

@media (max-width: 767px) {
	
	.sm-list .sm-li {padding-left: 0 !important;}
	
	.sm-list .sm-rel {margin-left: 15px !important;}
	
	.sm-list .sm-control {width: 100%;margin-left:6px;margin-bottom:5px;}
	
	.sm-list .sm-array-key {
		display: inline-block;
		margin-top: 3px;
		line-height: 16px;
		margin-bottom: 3px;
		height: 16px;
	}
	
	.sm-m0 {height: auto !important;}
	
	.sm-arg-block > .sm-arg-block { padding: 3px 0px 3px 0px; }
	
	.sm-eye {display: none !important;}
	
	.sm-query-sep {background: none;width: 5px;}
	
	.sm-arg-array:before {width: 0;}
}

.sm-inline {display: inline-block; padding-right: 3px;}

.sm-sep {
	padding: 0 5px;	
}

.sm-dic-content {
	display: block;
	margin: 5px 0;
	background: #68838B;
}

.sm-flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.sm-flex-no-wrap {
	flex-wrap: nowrap;
}

.sm-flex-1 {
	flex: 1
}

.sm-flex-justify, .sm-flex-justify-start {
	justify-content: flex-start;
}

.sm-flex-justify-center {
	justify-content: center;
}

.sm-flex-justify-end {
	justify-content: flex-end;
}

.sm-flex-align, .sm-flex-align-start {
	align-items: flex-start;
}

.sm-flex-align-center {
	align-items: center;	
}

.sm-flex-align-end {
	align-items: flex-end;	
}

.sm-flex-full {
	flex: 0 0 100%;
	padding: 0 5px 10px;
	box-sizing: border-box;
}

.sm-flex-full-no-padding {
	flex: 0 0 100%;
	box-sizing: border-box;    
}

.sm-flex-almost-half {
	flex: 0 0 49%;
	padding: 10px 25px 20px;
	box-sizing: border-box;
}

.sm-flex-half {
	flex: 0 0 50%;
	padding: 0 5px 10px;
	box-sizing: border-box;
}

.sm-area {
	background: #f1f1f1;
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	padding: 0px 15px;
}

.sm-pr {padding-right: 20px;}

.sm-pl {padding-left: 20px;}

.sm-pt {padding-top: 20px;}

.sm-pb {padding-bottom: 20px;}

.sm-pr10 {padding-right: 10px;}

.sm-pl10 {padding-left: 10px;}

.sm-pt10 {padding-top: 10px;}

.sm-pb10 {padding-bottom: 10px;}

.sm-pr30 {padding-right: 30px;}

.sm-pl30 {padding-left: 30px;}

.sm-pt30 {padding-top: 30px;}

.sm-pb30 {padding-bottom: 30px;}

.sm-mr {margin-right: 20px;}

.sm-ml {margin-left: 20px;}

.sm-mt {margin-top: 20px;}

.sm-mb {margin-bottom: 20px;}

.sm-mr0 {margin-right: 0px !important;}

.sm-ml0 {margin-left: 0px !important;}

.sm-mt0 {margin-top: 0px !important;}

.sm-mb0 {margin-bottom: 0px !important;}

.sm-mr10 {margin-right: 10px;}

.sm-ml10 {margin-left: 10px;}

.sm-mt10 {margin-top: 10px !important;}

.sm-mb10 {margin-bottom: 10px !important;}

.sm-m0 {margin: 0; line-height: 24px; height: 24px;}

.sm-bt {
	border-top: 1px dotted #f1f1f1;
}

.sm-bb {
	border-bottom: 1px dotted #f1f1f1;
}

.sm-bl {
	border-left: 1px dotted #f1f1f1;
}

.sm-br {
	border-right: 1px dotted #f1f1f1;
}

.sm-bl-row { 
	border-left: 3px solid #3498db;
}

.sm-bl-rel { 
	border-left: 3px solid #46b450;
}

.sm-row, .sm-rel {
	position: relative;
	margin-left: 15px;
	padding-left: 15px;
}

.sm-rel {
	padding-top: 10px;
	padding-bottom: 10px;
}

.sm-row:before, .sm-rel:before {
	position: absolute;
	top: 50%;
	margin-top: -9px;
	left: -12px;
	background-color: #3498db;
	color: #fff;
	content: attr(index);
	width: 20px;
	height: 20px;
	border-radius: 100%;
	text-align: center;
	line-height: 20px;
}

.sm-rel:before {
	background-color: #46b450;
}

@media (max-width: 767px) {
	.sm-flex-half { flex: 0 0 100%; }
	.sm-flex-almost-half { flex: 0 0 100%; }
}

.sm-txt-part {
	margin-top: 10px;
	position: relative;
	display: block;
}

.sm-hidden {display: none;}