/* Typography */

.sm-lg { 
	font-size: 20px; 
	top: 1px; 
	position: relative; 
}

.sm-cap {
	text-transform: capitalize;
}

.sm-title {
	text-align: left;
}

.sm-title h2 {
	display: inline-block;
}

.sm-block h3 {
	font-weight: normal;
}

.sm-block.sm-collapsed h3 {
	margin-bottom: 30px;
}

.sm-textarea {
	width: 280px;
	height: 100px;
	padding: 3px 10px;
	border-radius: 10px;
	margin-bottom: 5px;
	background: #f1f1f1;
}

.sm-italic {
    color: #666;
    font-style: italic;
}

/* Other */

.sm-eye {
	color: #222;
}

.sm-link, .sm-link:hover, .sm-link:focus {
	text-decoration: none;
	color:#000;
}

.sm-error,
.sm-delete-flat, .sm-delete-flat:hover, .sm-delete-flat:focus,
.sm-edit-flat, .sm-edit-flat:hover, .sm-edit-flat:focus,
.sm-up-flat, .sm-up-flat:hover, .sm-up-flat:focus,
.sm-down-flat, .sm-down-flat:hover, .sm-down-flat:focus {
	margin-left: 0px;
	background: none;
	display: inline-block;
	outline: 0;
}

.sm-delete-flat, .sm-delete-flat:hover, .sm-delete-flat:focus {margin-left: 0;}

.sm-error,
.sm-delete-flat, .sm-delete-flat:hover, .sm-delete-flat:focus {
	color:#b13e39;
}

.sm-up-flat, .sm-up-flat:hover, .sm-up-flat:focus,
.sm-down-flat, .sm-down-flat:hover, .sm-down-flat:focus {
	color: #46b450;
}

.sm-up-flat, .sm-up-flat:hover, .sm-up-flat:focus,
.sm-down-flat, .sm-down-flat:hover, .sm-down-flat:focus {
	display: inline-block;
	width: 24px;
}

.sm-markup, .sm-markup-content, .sm-attr {
	display: inline-block;
	padding: 0px 10px;
	background: #46b450;
	border-radius: 20px;
	color: #fff;
	margin-right: 6px;
}

.sm-markup:before, #current-tag-element:before {
	content: '\003c';
}

.sm-markup:after, #current-tag-element:after {
	content: '\003e';
}

.sm-markup-after:before {
	content: '\003c/';
}

.sm-markup-content {
	background: #68838B;
	display: table;
}

.sm-attr {
	background: #3498db;
	display: inline-block;
}

.sm-markup-wrapper {
	padding-left: 30px;
}

.sm-markup-wrapper:before {
	border-left: 1px dotted #ccc;
}

.sm-markup-wrapper p {
	margin-left: -30px;
}

#sm-content-default {
	display: block;
	font-weight: bold;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.shortcode-mastery-list ul li {
	display: inline-block;
	margin-right: 10px;
}

.shortcode-mastery-list ul li span.text {
	color: #fff;
	font-weight: bold;
	background: #dd0000;
	padding: 3px 10px;
	line-height: 22px;
	display: inline-block;
	border-radius: 5px;
}

.sm-input-block {
	flex: 0 0 25%; 
	padding-right: 20px;
	box-sizing: border-box;
}

.sm-block input[type=text] {
	border-radius: 20px;
	margin-bottom: 10px;
	padding: 3px 10px;
	background: #f1f1f1;
	max-width: 250px;
	width: 100%;
}

.sm-block .sm-input-block input[type=text] {max-width: 100%;}

.sm-block input[type=text].sm-large {
	height: 33px;
	border-radius: 5px;
	max-width: 100%;
	width: 100%;
	margin-bottom: 0;
	flex: 1;
}

.sm-list li .value, .sm-list li .name, .sm-inline-attr, .sm-inline-button { 
	white-space: pre-line;
}

@media (max-width: 479px) {
	
	.sm-block input[type=text], .sm-block input[type=text].sm-large { width: 100%; max-width: 100%; }
	.sm-input-block { flex: 0 0 100%; padding-right: 0px;}
	
}

@media (min-width: 480px) and (max-width: 767px) { .sm-input-block { flex: 0 0 50%; } }

@media (min-width:780px) and (max-width: 1279px) { .sm-input-block { flex: 0 0 33%; } }

@media (min-width: 1280px) { .sm-input-block { flex: 0 0 25%; } }

.sm-block input[type=text].sm-input-query {margin-bottom: 3px;}

.sm-list li .value, .sm-list li .name, .sm-inline-attr, .sm-inline-button, .sm-array-value {
	display: inline-block;
	white-space:pre-line;
	padding: 0px 10px;
	background: #46b450;
	border-radius: 20px;
	color:#fff;
	line-height: 18px;
}

.sm-list li .value.params {
	background: #32373c;
}

.sm-list li .value.params.options {
	background: #f0b305;
}

.sm-list li .name.required {
	background: #e74c3c;
}

.sm-list li .empty-value {
	display: inline-block;
	white-space: pre-line;
	padding: 0 10px;
	font-weight: bold;
	background: #fff;
	border: 1px solid #222;
	border-radius: 20px;
	color: #222;
	line-height: 16px;
}

.sm-required-wrapper {
	margin-top: 9px;
	margin-bottom: 1em;
	padding-left: 12px;
}

.sm-radio-wrapper {
	margin-top: 9px;
	margin-bottom: 1em;
	padding-left: 12px;	
}

.sm-inline-attr, .sm-inline-button {
	margin: 0 10px;
	display: inline-block;
}

.sm-inline-attr-query {
	margin: 0;
	margin-right: 5px;
	margin-bottom: 5px;
	font-style: normal;
}

.sm-inline-button {
	background: #3498db;
	text-decoration: none;
}

.sm-inline-button:hover {
	color: #fff;
}

.sm-query-steps {
	text-align: center;
}

.sm-query-step {
	background: #46b450;
	padding: 10px;
	color: #fff;
	border-radius: 20px;
	margin: 10px;
	position: relative;
	display: inline-block;
	opacity: 0.5;
}

.sm-query-step.active {
	opacity: 1;
}

.sm-query-step:before {
	content: '';
	position: absolute;
	left: -24px;
	top: 50%;
	margin-top: -1px;
	width: 25px;
	height: 2px;
	background: #46b450;
}

.sm-del, .sm-del:focus, .sm-del:hover,
.sm-switch, .sm-switch:focus, .sm-switch:hover,
.sm-level-up, .sm-level-up:focus, .sm-level-up:hover {
	color:#b13e39;
	background: #fff;
	border-radius: 50%;
	font-size: 10px;
	position: relative;
	right: -7px;
	top:-1px;
	outline: none;
}

.sm-tax-buttons, .sm-tax-buttons:focus, .sm-tax-buttons:hover {
	top:2px;
	background:none;
	right:0;
	font-size:20px;
}

.sm-del, .sm-del:focus, .sm-del:hover {
	top:3px;
}

.sm-link .sm-del, .sm-link .sm-del:focus, .sm-link .sm-del:hover {
	top:-1px;
}

.sm-switch, .sm-switch:focus, .sm-switch:hover {
	color: #3498db;
	font-size: 17px;
}

.sm-level-up, .sm-level-up:focus, .sm-level-up:hover {
	color: #46b450;
	font-size: 17px;
}

.sm-edit, .sm-edit:focus, .sm-edit:hover {
	font-size: 14px;
	top: 1px;
	position: relative;
}

.sm-markup-wrapper .sm-edit {margin-left: 4px;}

.sm-li .sm-edit {margin-left: 4px;}

.sm-li .sm-delete {margin-right: 4px;}

.sm-control .sm-edit {margin-left: 0;}

.sm-direction, .sm-direction:focus, .sm-direction:hover  {
	top: 4px;
	position: relative;	
}

.sm-query-step.first:before {content: none;}

@media (max-width: 767px) {
	.sm-query-step:before {content: none;}
	.sm-query-step {display: block; margin: 10px auto;}
}
