.shortcode-mastery-nav ul li {
	display: inline-block;
	margin-right: 10px;
}

.shortcode-mastery-nav ul li:after {
	content: '|';
	padding-left: 10px;
}

.shortcode-mastery-nav ul li:last-child:after {
	content: none;
}