/* Radio */

.sm-radio {
	position: relative;
    top: -1px;
}

.sm-radio {
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;
}

.sm-radio + label {
	cursor: pointer;
	margin: 10px 10px 10px 0;
}

.sm-radio:not(checked) {
	position: relative;
	opacity: 0;
}

.sm-radio:not(checked) + label {
	position: relative;
	left: -20px;
	margin-right: -10px;
	padding: 1px 0 0 26px;
}

.sm-radio:not(checked) + label:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	width: 18px;
	height: 18px;
	background: #CDD1DA;
	border-radius: 50%;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

.sm-radio:checked + label:before { 
	background: #3498db;
}

.sm-radio:checked + label:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	background: #FFF;
	border-radius: 50%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.sm-radio:disabled {
	opacity: 0 !important;
}

.sm-radio:focus + label:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}