.table-details-popup {
position: relative;
background: #FFF;
padding: 0 18px;
padding-bottom: 18px;
padding-top: 1px;
width: auto;
max-width: 800px;
margin: 40px auto;
box-sizing: border-box;
  
	.image-holder {
		margin-left: -18px;
		margin-right: -18px;
		background: #fff;
		height: 250px;
		background: #23282d;
		margin-top: -1px;
		position: relative;
		overflow: hidden;
	}
	
	@media (max-width: 639px) {
		
		.image-holder {
			height: 140px;
			text-align: center
		}
	}

	ul {
		padding-left: 10px;
	}
	code {
		background: #fff;
		padding: 0;
		margin: 0;
	}
	pre {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	}
	
}

.sm-title-media {
	align-items: center;
	display: flex;
	
	.img-container {
		width: 64px;
		height: 64px;
		margin-right: 12px;
	}
	
	.img-container.divided {width:32px;height:32px;margin-right:8px}
	
	img.default {
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}	
	
	.sm-titles {
		flex:1;
		padding-left: 0px;
	}
	
	.desc {
		padding: 14px 0 4px;
	}
	
	.sm-more-details {
		text-decoration: underline;
	}
}

#shortcode-mastery {

	.tablenav .actions {
		padding: 0;
	}

	.tablenav.bottom {
		margin-bottom: 40px;
		padding-top: 10px;
	}

	.tablenav a {
		text-decoration: none;
	}

	.tablenav a:hover {
		color:#fff;
	}

	.shortcode-mastery-color {
		color: #b13e39;
	}

	.shortcode_mastery_tables {
		border-radius: 0;
	}
	
	.shortcode_mastery_tables input[type=checkbox] {
		border-radius: 3px;
		padding: 10px;
		width: 18px;
		height: 18px;
		background: #f1f1f1;
	}
	
	.shortcode_mastery_tables input[type=checkbox]:checked {
		background: #3498db;
		box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
		border: none;
	}
	
	.shortcode_mastery_tables input[type=checkbox]:checked:before {
		margin: -2px 0 0 -4px;
		font-size: 24px;
		color: #fff;		
	}
	
	@media (max-width:782px) {
		.shortcode_mastery_tables input[type=checkbox] {
			width: 25px;
			height: 25px;	
		}
		
		.shortcode_mastery_tables input[type=checkbox]:checked:before {
			font-size: 32px;	
		}
	}
	
	.sm-block {
		border-radius: 0px;
	}

	.shortcode_mastery_tables tbody tr td {
		padding-top: 18px;
		padding-bottom: 18px;
		vertical-align: middle;
		border-top:1px solid #e5e5e5;
	}
	
	.shortcode_mastery_tables tbody tr:first-child td,.shortcode_mastery_tables tbody tr:first-child th {
		border-top: none;
	}
	
	.shortcode_mastery_tables tbody tr th {
		border-top:1px solid #e5e5e5;
	}
	
	.shortcode_mastery_tables thead th#shortcode_mastery_title, .shortcode_mastery_tables tfoot th.column-shortcode_mastery_title,
	.shortcode_mastery_tables thead th#shortcode_mastery_date, .shortcode_mastery_tables tfoot th.column-shortcode_mastery_date {
		padding: 0;
	}
	
	.shortcode_mastery_tables td.shortcode_mastery_title {
		width: 35%;
	}

	.shortcode_mastery_tables td.shortcode_mastery_code {
		width: 30%;
	}
	
	.shortcode_mastery_tables td.shortcode_mastery_actions {
		width: 35%;
		text-align: right;
	}
	
	.shortcode_mastery_tables tbody th.check-column {
		padding: 3px 0 0 3px;
		vertical-align: middle;
	}
	
	.shortcode_mastery_tables th.column-shortcode_mastery_actions {
		text-align: right;
		padding-right: 28px;
	}

	.shortcode_mastery_tables th.column-shortcode_mastery_code {
		text-align: center;
	}
	
	.shortcode_mastery_tables {
		h3 {
			margin: 0;
			position: relative;
			top: 2px;
		}
		.desc {
			padding: 14px 0 4px;
		}
		.sm-more-details {
			text-decoration: underline;
		}
	}
	
	@media (max-width:860px) {
		
		.shortcode_mastery_tables .column-shortcode_mastery_date {display: none;}
		
	}
		
	@media (max-width:782px) {
				
		.shortcode_mastery_tables td.column-shortcode_mastery_actions {
			text-align: left;
		}
		
		.shortcode_mastery_tables .toggle-row {
			top:15px;
		}
		
		.shortcode_mastery_tables th input[type=checkbox] {
			margin-top: 5px;
		}
		
		.shortcode_mastery_tables tbody tr td  {
			border-top: none;
		}
		
		.shortcode_mastery_tables .column-shortcode_mastery_title {
			border-top:1px solid #e5e5e5;
		}
		
		.shortcode_mastery_tables tbody tr:first-child .column-shortcode_mastery_title,
		.shortcode_mastery_tables thead tr:first-child .column-shortcode_mastery_title {
			border-top: none;
		}
		
		.shortcode_mastery_tables .column-shortcode_mastery_actions::before,
		.shortcode_mastery_tables .column-shortcode_mastery_date::before,
		.shortcode_mastery_tables .column-shortcode_mastery_code::before {
			top:50%;
			margin-top: -11px;
			display: none;
		}
		
		.shortcode_mastery_tables .column-shortcode_mastery_title {
			padding-left: 18px;
		}
		
		.shortcode_mastery_tables .column-shortcode_mastery_code,
		.shortcode_mastery_tables .column-shortcode_mastery_actions {
			padding-left: 18px;
		}
		
		.shortcode_mastery_tables .column-shortcode_mastery_date {display: none !important}

	}
	
}
