.sm-tinymce-wrap td {
	padding: 0 10px;
}

.sm-media-button {
	border: none !important;
	background: none !important;
	box-shadow: none !important;
	padding: 0 !important;
}

.sm-media-button img {
	position: relative;
	top: -1px;
	width: 26px;
	padding: 0 !important;
}

.sm-tinymce-filter {
	margin-top: -1px;
	padding: 0 18px;
}

.wp-filter .tinymce-shortcodes {
	float: none;
}

.wp-filter .search-form input[type=search].sm-tinymce-search {
	height: 33px;
	border-radius: 20px;
	max-width: 100%;
	width: 100%;
	margin-bottom: 10px;
	padding: 3px 10px ;
	background: #f1f1f1 !important;	
	-webkit-font-smoothing: subpixel-antialiased;
}

.sm-wrap-all {
	margin: 0 18px;
	padding-bottom: 36px;
}

.sm-tinymce-more-details {
	border-top: none;
	margin-top: 0;
	position: initial;
	
	h3 {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

.sm-tinymce-more-details {overflow: visible;}

.sm-tinymce-more-details .image-holder {
	margin-left: -10px;
	margin-right: -10px;
	background: #fff;
}

.sm-tinymce-item:first-child td {
	border-top: none;
}

.sm-tinymce-fields {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -9px;
	@media (max-width: 782px) {
		justify-content: center;
	}
}

.sm-tinymce-field {
	padding: 0 9px;
	width: 50%;
	box-sizing: border-box;
	margin-bottom: 9px;
	
	@media (max-width: 838px) {
		width: 50%;
		box-sizing: border-box;
	}
	
	@media (max-width: 589px) {
		width: 100%;
		padding: 0 18px;
	}
}

.sm-tinymce-field-full {
	width: 100%;
	padding: 0 9px;
	margin-bottom: 9px;

	@media (max-width: 589px) {
		width: 100%;
		padding: 0 18px;
	}
}

input.sm-tinymce-field-input {
	border-radius: 20px;
	margin-bottom: 10px;
	padding: 4px 10px;
	background: #f1f1f1;
	width: 100%;
	margin-top: 0;
}

input.sm-tinymce-field-input.required {
	background: rgba(255, 84, 66, 0.85);
	border-color: #666;
	color: #fff;
	-webkit-box-shadow: inset 0 1px 2px rgba(193, 64, 50, 1);
	box-shadow: inset 0 1px 2px rgba(193, 64, 50, 1);
}
input.sm-tinymce-field-input.required::-webkit-input-placeholder {
  color: #fff;
}
input.sm-tinymce-field-input.required::-moz-placeholder {
  color: #fff;
}
input.sm-tinymce-field-input.required:-ms-input-placeholder {
  color: #fff;
}
input.sm-tinymce-field-input.required:-moz-placeholder {
  color: #fff;
}

select.sm-tinymce-field-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 20px;
	margin-bottom: 10px;
	padding: 0px 10px;
	background: #f1f1f1;
	color:#fff;
	width: 100%;
	margin-top: 0;
	color: #32373c;
}

textarea.sm-tinymce-field-input {
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 4px 10px;
	background: #f1f1f1;
	width: 100%;
	margin-top: 0;
	min-height: 70px;
}

.sm-tinymce-submit {
	margin-bottom: 8px;
	margin-top: 0px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	-webkit-font-smoothing: subpixel-antialiased;
}

.sm-tinymce-item {
	
	td {
		vertical-align: middle;
		width: 40%;
		padding: 0;
		padding-left: 18px;
		padding-top: 18px;
		padding-bottom: 18px;
		border-top:1px solid #e5e5e5;
		@media (max-width: 782px) {
			border-top: none;
			padding-left: 18px;
		}		
		
	}
		
	.info {
		
		@media (max-width: 782px) {
			border-top:1px solid #e5e5e5;		
		}
		
		h3 {
			margin: 0;
		}

	}
	
	.buttons {
		
		padding-right: 9px;
		padding-left: 0;
		width: 20%;
		
		.sm-button {
			margin-right:0;
			width: 90%;
			box-sizing: border-box;
			text-align: center;
			
			@media (max-width: 782px) {
				width: auto;
				text-align: left;
			}
		}
		
		text-align: right;
		-webkit-font-smoothing: subpixel-antialiased;
		
		@media (max-width: 782px) {
			text-align: left;
			padding-left: 18px;
			padding-right: 0;
		}
	}
	
	.image-holder {
		width: 64px;
		height: 64px;
	}
	
}