<template>
    <p>
        <span class="sm-mr10">{{ header }}</span>
        <input type='hidden' value="0" :name="name">
        <input type="checkbox" :id="id" class="sm-checkbox" v-model="integrated" @change="changed" :name="name" value="1"> 
        <label :for="id"></label>
        <a data-placement="bottom" href="javascript:void(0);" rel="tooltip" title="" class="sm-info" :data-original-title="title"><span class="icon-info"></span></a>
    </p>
</template>

<script>
export default {
    props: ['header', 'title', 'def', 'name', 'id'],
    mounted: function() {
        this.integrated = this.def;
        this.$emit('changed', this.integrated);
    },
    data: function() {
        return {
            integrated: null
        }
    },
	methods: {
        changed: function() {
            this.$emit('changed', this.integrated);
        }
	}
};
</script>