<template>
	<div>
		<textarea id="sm-editor" :value="content" class="sm-textarea sm-full" @input="inputText($event.target.value)" :placeholder="textareaPlaceholder"></textarea>
		<button type="button" class="sm-button sm-edit-button" @click="editContent">
			<i class="icon-pencil"></i><span>{{ editTitle }}</span> {{ buttonTitle }}
		</button>
	</div>
</template>

<script>
export default {
	props: ['content', 'buttonTitle', 'textareaPlaceholder'],
	data: function() {
		return {
			text: '',
			editTitle: sm.editTitle,
		};
	},
	methods: {
		inputText: function(value) {
			this.text = value;
		},
		editContent: function() {
			var actualText = this.text;
			if (actualText === '') actualText = this.txt;
			this.$emit('edit', actualText);
			this.text = '';
		}
	}
};
</script>