<template>
	<button @click="addMethod" type="button" class="sm-button sm-edit-button" :class="className" v-html="text"></button>
</template>

<script>
export default {
	props: ['method', 'content', 'className', 'text'],
	methods: {
		addMethod: function() {
			if (!this.content) {
				var method = '{{ ' + this.method + ' }}';
				if ( /[\-]/.test( this.method ) ) {
					var method = '{{ attribute(atts, \'' + this.method + '\') }}';	
				}
			} else {
				var method = '{@ ' + this.method + ' @}';
			}
			this.$emit('method', method);
		}
	}
};
</script>