<template>
	<textarea :value="content" @input="inputText($event.target.value)" class="sm-textarea sm-full" name="main_loop"></textarea>
</template>

<script>
export default {
	props: ['content', 'def'],
	created: function() {
		this.$emit('content', this.def);
	},
	methods: {
		inputText: function(value) {
			this.$emit('content', value);
		},
	}
};
</script>